

<div class="container" >
  <div class="col-md-12">
    <div class="card m-6" style="background-color:rgb(203, 219, 243)">
      <div class="card-header">
        <h4>Nouvelle Actualité </h4>
      </div>
      <div class="card-body">
        <div class="col-sm-12 col-md-12 col-lg-12" style="background-color:rgb(203, 219, 243)">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label class="control-label">Titre * </label>
                <input class="form-control" type="text" [(ngModel)]="actua.titreAct" />
              </div>
           
                

             
              <div class="form-group">
                <label class="control-label">Description</label>
                <input class="form-control" type="text" [(ngModel)]="actua.descriptionAct" />
              </div>

              <div class="form-group">
                <label class="control-label">Act</label>
                <input class="form-control" type="text" [(ngModel)]="actua.urgentAct" />
              </div>
              
        
              <div class="form-group">
                <label for="orga">Domaine</label>
                   <select class="form-control form-control-sm" >
                       <option *ngFor="let item of domaines; let i=index" value="{{item.titreDom}}">{{item.titreDom}}</option>
                   </select>

                </div>
          

              <div class="form-group">
                <label class="control-label">Origine </label>
                <input class="form-control" type="text" [(ngModel)]="actua.origineAct" />
              </div>
            
          
            <div class="buttons">
              <button class="btn btn-primary" type="submit" (click)="saveActualite()"><span class="fa fa-send"
                  style="color:#4f4;">
                </span> Envoyer </button>
             
            </div>
          </div>
          <br>
         
         
          
         
       
          
         
        </div>
     

  </div>
</div>


