<div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6 d-flex mx-auto flex-column">
          <ng-container *ngIf="loginMessage?.length > 0">
            <div class="alert alert-danger alert-dismissible text-center">
              {{loginMessage}}
            </div>
          </ng-container>
          <form *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                [(ngModel)]="form.username"
                required
                #username="ngModel"
              />
            </div>
  
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel"
              />
            </div>
            <div class="d-flex flex-column align-items-center justify-content-around">
              <button class="btn btn-primary btn-sm btn-block">Login</button>
              <hr>
              <h4 class="text-uppercase"><strong>Login Using</strong></h4>
              <button (click)="signInWithGoogle()" class="btn btn-danger btn-sm btn-block mt-4"><span><i
                class="fa fa-google"></i> Google </span>
              </button> 
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  